튜플 만들기  
tuple은 list와 거의 비슷하지만 list []로 둘러싸고 tuple ()로 둘러싼다는 것과 list는 데이터를 수정, 삭제가 가능하지만 tuple은 불가능하다.

In [4]:
# 빈 튜플 만들기
t1 = ()
print(t1)
print(type(t1))
# 생성자를 이용해 빈 튜플 만들기
t2 = tuple()
print(t2)
print(type(t2))

()
<class 'tuple'>
()
<class 'tuple'>

In [7]:
# 1개의 데이터만 가지는 튜플을 만들어야 할 경우 반드시 데이터 뒤에 ','를 찍어줘야 한다.
t3 = (1,)
print(t3)
print(type(t3))

(1,)
<class 'tuple'>

In [8]:
t4 = (1, 2)
print(t4)
print(type(t4))
t5 = (1, 2, 3)
print(t5)
print(type(t5))

(1, 2)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>

In [13]:
# 튜플은 ()를 생략해도 하나의 변수에 데이터를 ','로 구분해서 여러개를 넣어주면 튜플로 인식된다.
t6 = 1, 2, 3, 4, 5, 6 # 튜플 생성시 ()를 생략했다.
print(t6)
print(type(t6))
t7 = ('a', 'b', ('ab', 'cd'))
print(t7)
print(type(t7))
# t7[0] = 'z' # 튜플에 저장된 데이터를 수정하려 했으므로 에러가 발생된다.
# del t7[0]   # 튜플에 저장된 데이터를 삭제하려 했으므로 에러가 발생된다.

(1, 2, 3, 4, 5, 6)
<class 'tuple'>
('a', 'b', ('ab', 'cd'))
<class 'tuple'>

In [22]:
# 리스트와 같이 인덱싱과 슬라이싱이 가능하다.
print(t7[0])
print(t7[2])
print(t7[2][0])
print('*' * 75)
print(t7[0:2])
print(t7[:2])
print(t7[1:])
print('*' * 75)
print(t6 + t7)
print(t6 * 3)

a
('ab', 'cd')
ab
***************************************************************************
('a', 'b')
('a', 'b')
('b', ('ab', 'cd'))
***************************************************************************
(1, 2, 3, 4, 5, 6, 'a', 'b', ('ab', 'cd'))
(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)